build/
dist/
.semrel
.generated-go-semantic-release-changelog.md

docs/regulation/**/*.pdf
proprietary-*
cmd/tachograph/tachograph
tools/cmd/fetch-certs/fetch-certs
*.bin

# Ignore all testdata directories
testdata/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.nupkg
*.snupkg
.vscode/
.idea/
